.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-inline: 50px;
}

.footer ul{
display: flex;
gap: 20px;
}

.footer ul li{
    list-style: none;
}

.footer ul li a svg{
    width: 3.5vw;
    background-color: #000000d6;
    color: #f8eded;
    padding: 13px;
    border-radius: 200px;
}

.privacy{
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.privacy a{
    color: black;
    text-decoration: none;
}

@media (max-width:768px){
    .footer{
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
    }

    .footer ul li a svg{
     width: 8vw;
     padding: 10px;
    }
}
/*========== tablets ==========*/
@media (min-width:789px) and (max-width:900px){
        .footer{
        font-size: 14px;
    }

    .footer ul li a svg{
     width: 4vw;
     padding: 10px;
    }
}

@media (min-width:901px) and (max-width:916px){
}

@media (min-width:917px) and (max-width:1024px){
}
/*========== end ==========*/


