.Services{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: auto;
    background-color: #000910;
    color: white;
}

.pop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Services img{
    width: 1vw;
}

.Services span h1{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

.ServicesContent{
justify-content: center;
align-items: center;
display: flex;
}

.services{
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
}

.services h2{
    font-size: 40px;
    font-weight: 800;
}

.pan{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pan h3{
    font-size: 20px;
    font-weight: 700;
}

.pan ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pan ul li{
    list-style:circle;
}

.many{
    display: flex;
    align-items: center;
}

.servicetext{
    display: block;
}

.help{
    display: none;
}

.servicesFlex{
    display: block;
}

.servicesTextbox{
    display: none;
}


@media (max-width:768px){
.Services {
    display: flex
;
flex-wrap: wrap;
}
.servicetext{
    display: none;
}

.help{
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.servicesTextbox{
    display: block;
    position: relative;
}
 
.servicesTextbox ul{
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.servicesTextbox p{
font-size: 20px;
color: rgba(62, 61, 61, 0.872);
}

.servicesFlex{
display: none;
}

.cardArea {
 display: none;
}
}



/*========== tablets ==========*/
@media (min-width:769px) and (max-width:900px){
.Services {
    display: flex
;
flex-wrap: wrap;
}
.servicetext{
    display: none;
}

.help{
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.servicesTextbox{
    display: block;
}
 
.servicesTextbox ul{
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.servicesTextbox p{
font-size: 20px;
color: rgba(62, 61, 61, 0.872);
}

.servicesFlex{
display: none;
}

.cardArea {
 display: none;
}
}

@media (min-width:901px) and (max-width:916px){
    .Services {
    display: flex
;
flex-wrap: wrap;
}
.servicetext{
    display: none;
}

.help{
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.servicesTextbox{
    display: block;
}
 
.servicesTextbox ul{
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.servicesTextbox p{
font-size: 20px;
color: rgba(62, 61, 61, 0.872);
}

.servicesFlex{
display: none;
}

.cardArea {
 display: none;
}
}

@media (min-width:917px) and (max-width:1024px){
    .Services {
    display: flex
;
flex-wrap: wrap;
}
.servicetext{
    display: none;
}

.help{
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.servicesTextbox{
    display: block;
}
 
.servicesTextbox ul{
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.servicesTextbox p{
font-size: 20px;
color: rgba(62, 61, 61, 0.872);
}

.servicesFlex{
display: none;
}

.cardArea {
 display: none;
}
}
/*========== end ==========*/

/*========== laptop ==========*/
@media (min-width:1281px) and (max-width:1440px){

}

@media (min-width:1441px) and (max-width:1680px){
      .footer ul li a svg{
     width: 2.5vw;
     padding: 10px;
    }
}

@media (min-width:1681px) and (max-width:1920px){
      .footer ul li a svg{
     width: 2.5vw;
     padding: 10px;
    }
}

@media (min-width:1921px) and (max-width:2048px){
      .footer ul li a svg{
     width: 2vw;
     padding: 10px;
    }
}

@media (min-width:2049px) and (max-width:2496px){
      .footer ul li a svg{
     width: 2vw;
     padding: 10px;
    }
}
/*========== end ==========*/


